.button {
  color: #292828;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  border: 1px solid #b6b5b5;
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
}

.button_active {
  color: #65ca93;
  border: 2px solid #65ca93;
}
