.todos-list {
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
 justify-content: start;
 min-height: 172px;
}

.task {
  padding: 15px;
  border: 1px solid #b6b5b5;
  border-radius: 10px;
  margin-top: 10px;
}

.task:first-child {
  margin-top: 0;
}

.task__checkbox {}

.task__label {
  color: rgb(53, 52, 52);
  margin-left: 10px;
  font-weight: 400;
  font-size: 16px;
}
